*.aux
*.log
*.gz
*.pdf
*.fls
*.out
*.fdb_latexmk
build.tex
docs/img/generated
*.html
**.swp
**.swo
implementation/build/
blocks/
__pycache__/
node_modules/
.mypy_cache
# Visual Studio Code
*.code-workspace

# infrastructure
.secrets
