*.aux
*.log
*.gz
*.pdf
*.fls
*.out
*.fdb_latexmk
build.tex
img/generated
*.html
**.swp
**.swo
implementation/build/
blocks/
__pycache__/
.mypy_cache

# Dependencies
node_modules/
installed_contracts/

# Visual Studio Code
*.code-workspace
