[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
riemann-tx = "==2.0.0"
connectrum = "==0.7.4"
riemann-ether = "==1.3.2"

[requires]
python_version = "3.6.6"

[dev-packages]
ipython = "==7.5.0"
mypy = "==0.711"
